
.main-div {
    height: 100; 
  }
  .text-right{
    text-align: right;
  }
.channel-box-big{
  display: flex;
  justify-content: center;
}
  .row {
    --bs-gutter-x:0 !important;
  }
  
  .com-text{
    font-size: 20px;
    font-weight: 600;
  }
  
  .col-md-6 {
    padding: 0px 12px;
  }
  
  .header-cashback{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    backdrop-filter: saturate(200%) blur(1.875rem);
    background-color: rgb(255 255 255 / 75%);
  }
  
  .cashback-img{
    background-image: url('/assets/img/cashbackReminder.jpg');
    background-color: rgba(0, 0, 0, 0.5);
    height: 47rem;
    background-size: cover;
    background-position: center;
    /* margin-left: 1rem; */
    border-radius: 10px;
  }
  
  .edit-loyalty-text {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-top: 0.8rem;
  }
  
  .mr-2{
    margin-right: 0.5rem;
  }
  
  .row {
    margin: 0;
  }
  
  .input-group-text{
    border-radius: 10px;
  }
  .m-t-2{
    margin-top: 2rem;
  }
  .m-text-0{
    margin: 5rem 0 0 5rem;
  }
  
  .step3-text{
    font-weight: bolder; 
    font-size: 40px;
  }
  .inner-box {
    margin-top: 0.5rem;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #fff;
  }
  
  .button-container {
    margin-top: 1rem;
    margin-bottom: 10px;
  }
  
  .button-container button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .btn-secondary {
    background-color: #ececec;
    color: black;
    border: none;
    margin-right: 30rem;
  }
  
  .image-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 10px;
  }
  
  .main-box {
    border: 1px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 20rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
  }
  
 

  