<div class="main-div">
  <div class="row button-container">
    <div class="col-md-2">
      <img src="/assets/img/bunny-review (2).gif" class="cashback-remd" width="260" height="300">
      
    
    </div>
   
    <div class="col-md-8">
      <div class="header-cashback">
        <div class="row">
          <div class="col-md-4">
            <button class="back-io-button" routerLink="/loyaltyPerformance/communication">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path fill="currentColor"
                    d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path>
                </svg>
              </div>
              Back
            </button>
          </div>
          <div class="col-md-3">
            <h5 class="edit-loyalty-text">Editing Loyalty Program !</h5>
          </div>
          <div class="col-md-4 text-end">
            <button class="cssbuttons-io-button"> Update
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z"></path>
                  <path fill="currentColor"
                    d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path>
                </svg>
              </div>
            </button>
          </div>
          
        </div>
      </div>
    

      <p>
        <div class="progress">
          <div class="progress-bar" style="width:0%" id="progressBar" #progressBar>{{percent}}%</div>
        </div>
      <p>


      <!-- <div class="outer-box"> -->
      <div class="card partition1">
        <div class="card-body">
          <div class="row">
            <div class="col-md-10">
              <h5 class="cash-card">Cashback bonus offered for completing your profile</h5>
              <p class="card-text">₹ {{LoyaltyDetails?.bonus_cashback}} Cashback</p>
            </div>
            <div class="col-md-2 mt-3">
              <button class="cssbuttons-io-button" routerLink="/loyaltyPerformance/bonus"> <p class="edit-btn">Edit</p>
                <div class="icon">
                  <svg class="svg" viewBox="0 0 512 512">
                    <path
                      d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-100.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z">
                    </path>
                  </svg>

                </div>
              </button>

            </div>
           
          </div>


        </div>
      </div>
      <div class="card partition custom-bg-color">
        <div class="card-body">
          <div class="row">
            <div class="col-md-10">
              <h5 class="cash-card">Expiration of cashback rewards</h5>
              <p class="card-text">{{LoyaltyDetails?.expiry_months}} <b>-</b> Month Redemption Period</p>
              <h5 class="cash-card">Cashback Expiry Alert</h5>
              <p class="card-text">{{LoyaltyDetails?.reminder_value}} <b>-</b> Day Utilization Period</p>
            </div>
            <div class="col-md-2 mt-3">
              <button class="cssbuttons-io-button" routerLink="/loyaltyPerformance/cashback-reminder"> <p class="edit-btn">Edit</p>
                <div class="icon">
                  <svg class="svg" viewBox="0 0 512 512">
                    <path
                      d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z">
                    </path>
                  </svg>

                </div>
              </button>

            </div>
          </div>


        </div>
      </div>
      <div class="card partition2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-10">
              <h5 class="cash-card">Mode of communication</h5>
              <p class="card-text">Email</p>
              <p class="card-text">SMS</p>
            </div>
            <div class="col-md-2 mt-3">
              <button class="cssbuttons-io-button"  routerLink="/loyaltyPerformance/communication"> <p class="edit-btn">Edit</p>
                <div class="icon">
                  <svg class="svg" viewBox="0 0 512 512">
                    <path
                      d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z">
                    </path>
                  </svg>

                </div>
              </button>

            </div>
          </div>

        </div>
      </div>



    </div>
    <div class="col-md-2">
      <img src="/assets/img/giphy (5).gif" class="cashback-remd" width="260" height="300">
   
    </div>
   
  </div>
</div>