<div class="container">
   <div class="row">
       <div class="col-md-12">
           <div class="col-md-4 mt-4">
               <button type="button" class="btn btn-light btn-color" routerLink="/loyaltyPerformance">
                   <img height="18px" width="18px" src="/assets/img/arrow-left.svg" alt="btn-icon"
                       style="margin-right: 5px;">
                   Back </button>
           </div>
       </div>

   </div>

   <div class="loyalty-customers">
       <h1 class="title">Top Redeeming Customers</h1>
       <div class="head-actions">
           <div class="sb-input">
               <div class="input-parent">
                   <div class="input-row"><img width="20px" height="20px" src="/assets/img/search.svg"
                           alt="textfield-icon" class="input-icon"><input type="text"
                           placeholder="Search Customers by name" autocomplete="off" value=""></div>
               </div>
           </div>
           <div class="custom-date-picker"><button type="button" class="date-btn2"><span>Last 30 Days</span>
                   &nbsp;10,Apr 23 - 09,May 23 &nbsp;<img src="/assets/img/dropdown-arrow.svg" alt="dropdown"></button>
           </div><button type="submit" class="sb-button sb-button--sm  sb-button--secondary"><img height="16px"
                   width="16px" src="/assets/img/arrow-bottom.svg" alt="btn-icon"><span>Export Data</span><span
                   class="new-tag">New</span></button>
       </div>
   </div>

   <div class="row mt-3">
       <div class="insight-action-card">
           <h4>Showing:<span>3 total records</span></h4>
        </div>
       <!-- <h3>Redemption Time</h3> -->
       <div class="col-md-12">
           <div class="Recent-loyalty-activity">

               <table class="table">
                   <thead>
                       <tr>
                           <th scope="col">Mobile</th>
                           <th scope="col">Name</th>
                           <th scope="col">Reward redeemed</th>
                           <th scope="col">Spent after redemption</th>
                           <th scope="col">Current Segment</th>
                       </tr>
                   </thead>
                   <tbody role="rowgroup">
                       <tr role="row">
                           <td role="cell">8837884479</td>
                           <td role="cell">Navjot</td>
                           <td role="cell">2</td>
                           <td role="cell">400</td>
                           <td role="cell">new</td>
                       </tr>
                       <tr role="row">
                           <td role="cell">9034403668</td>
                           <td role="cell">Gurpreet</td>
                           <td role="cell">1</td>
                           <td role="cell">NA</td>
                           <td role="cell">new</td>
                       </tr>
                       <tr role="row">
                           <td role="cell">9878447129</td>
                           <td role="cell">Gursimran</td>
                           <td role="cell">1</td>
                           <td role="cell">800</td>
                           <td role="cell">new</td>
                       </tr>
                   </tbody>
               </table>



           </div>
       </div>

   </div>

</div>