.welcome-card{
  align-items: center;
  background:  var(--theme-color-light);
  border-radius: 8px;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  margin: 1vh auto 0;
  max-width: 455px;
  padding: 2px;

}
h3{
  font-size: 19px;
  font-weight: 600;
}
.address-wrap{
  background-image: url('/assets/img/businessBG.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:100vh;
}
.a-business{
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto 0;
  max-width: 455px;
  padding: 16px;
}

.card{
  box-shadow: 0px 5px 20px 0px #d2dae3;
  z-index: 1;
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 20px !important;
}
.m-t-0{
  margin-top: 10vh;
}

.loyalty-text{
  font-size: 50px;
  font-weight: 900;
  padding: 5px;
  color: var(--theme-color);
}
.f-business{
  font-size: 20px;
  font-weight: 700;
}

.text-align{
  text-align: center;
}

.f-brand{
  font-size: 15px;
  font-weight: 700;
  text-align: left !important;
  /* padding: 10px; */
}
.m-l-0{
  align-items: center;
  /* display: flex; */
  justify-content: flex-start;
  margin: 0 auto 0;
  max-width: 500px;
  padding: 8px;
}

.btn-submit{
  width: 100%;
}
.p-2{
  padding: 10px;
}
