.sidebar {
    background: var(--theme-color-blue);
    top: 0;
    margin: 20px;
    border-radius: 15px;
    width: 255px;
}

/* .sidebar-nav .nav-link {
    background: var(--theme-color-blue);
    color: #fff;
} */

/* .sidebar-nav .nav-link:hover {
    color: var(--theme-color);
} */

a.nav-link.active {
    color: #fff;
    /* background: var(--theme-color); */
    background: var(--theme-color);
}

a.nav-link.active i {
    color: #fff;
    /* background: var(--theme-color); */
}

hr { 
    background: var(--theme-color);
}