<div class="container">
   <h3>Please select your preferred loyalty type.</h3>
   <div class="row">
      <div class="col-md-4">
         <div class="card custom-card">
            <div class="card-body">
               <h3>Earn cashback on your purchases.</h3>
               <hr>
               <p class="desc">Customers are eligible to receive a cashback percentage based on the amount they have spent.</p>
               <img src="assets/img/cashback.jpeg" style="height:52%" class="card-img-top" alt="Image 2">
               
           
               <button  class="primary-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Choose and Customize  
                <img src="/assets/img/right-arrow.png" alt="btn-icon"></button>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card custom-card">
           
            <div class="card-body">
               <h3><b>Visit Made</b></h3>
               <p class="desc">Customers earn fixed points on every visit.</p>
               <img src="assets/img/visit.jpeg" style="width: 77%; height:50%;"  alt="dollarImage">
              <button  class="primary-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Choose and Customize  
                <img src="/assets/img/right-arrow.png" alt="btn-icon"></button>
                 </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card custom-card">
           
            <div class="card-body">
               <h3><b>Amount Spent</b></h3>
               <p class="desc">Customers earn points based on how much they spend.</p>
               <img src="/assets/img/dollar.jpeg" style="height:45%" class="card-img-top" alt="Image 3">
               <button  class="primary-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Choose and Customize  
                <img src="/assets/img/right-arrow.png" alt="btn-icon"></button>
                </div>
         </div>
      </div>
   </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <img src="https://img.freepik.com/premium-vector/loyalty-program-promotion-concept-illustration-marketing-customer-character-creative-commerce-share-people-invite-refer-friend-discount-advertisement-bonus_109722-2078.jpg" alt="Modal Image" class="modal-image">
         <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
       </div>
       <div class="modal-body">
         <h1 class="modal-title fs-5"><b>Customers receive your loyalty advertisements via email, WhatsApp, and SMS.</b></h1>
         <p class="modal-paragraph">Customers receive a link to your company's custom loyalty page, where they can view information about your rewards scheme.</p>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Edit Loyalty</button>
       </div>
     </div>
   </div>
 </div>

 <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <img src="https://img.freepik.com/premium-vector/loyalty-program-promotion-concept-illustration-marketing-customer-character-creative-commerce-share-people-invite-refer-friend-discount-advertisement-bonus_109722-2078.jpg" alt="Modal Image" class="modal-image">
         <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
       </div>
       <div class="modal-body">
         <h1 class="modal-title fs-5"><b>Customers receive your loyalty advertisements via email, WhatsApp, and SMS.</b></h1>
         <p class="modal-paragraph">Customers receive a link to your company's custom loyalty page, where they can view information about your rewards scheme.</p>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Edit Loyalty</button>
       </div>
     </div>
   </div>
 </div>

 <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <img src="https://img.freepik.com/premium-vector/loyalty-program-promotion-concept-illustration-marketing-customer-character-creative-commerce-share-people-invite-refer-friend-discount-advertisement-bonus_109722-2078.jpg" alt="Modal Image" class="modal-image">
         <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
       </div>
       <div class="modal-body">
         <h1 class="modal-title fs-5"><b>Customers receive your loyalty advertisements via email, WhatsApp, and SMS.</b></h1>
         <p class="modal-paragraph">Customers receive a link to your company's custom loyalty page, where they can view information about your rewards scheme.</p>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <button type="button" class="btn btn-primary">Edit Loyalty</button>
       </div>
     </div>
   </div>
 </div>
 
 


