<div class="container">


   <div class="perfHead">
      <div class="perfHead-content">
         <h3 class="sb-typography sb-typography--display-lg sb-typography--semibold">Your Credits Balance</h3>
         <button type="button" class="btn btn-primary" id="sidebarCollapse" data-bs-toggle="modal"
            data-bs-target="#welcomeLoyalty">View Details</button>
      </div>
   </div>

   <div class="overview-card">
      <div class="row">
         <div class="col-md-3">
            <div class="overview-card-color">
               <h3 class="card-h3">76.44%</h3>
               <h5 class="r-rate"
                  title="The total number of loyalty points converted into sales expressed as percentage. (Total points redeemed by customers/ total points issued to customers )*100">
                  <u>Redemption Rate</u>
               </h5>
            </div>
         </div>

         <div class="col-md-3">
            <div class="overview-card-color">
               <h3 class="card-h3">6.66%</h3>
               <h5 class="r-rate" title="The total points redeemed by your customers.">
                  <u>Cashback Redeemed</u>
               </h5>
            </div>
         </div>

         <div class="col-md-3">
            <div class="overview-card-color">
               <div class="row">
                  <div class="col-md-12">

                     <h3 class="card-h3">8.45%</h3>
                     <h5 class="r-rate" title="The total cashback issued to your customers.">
                        <u>Cashback Issued</u>
                     </h5>

                  </div>

               </div>
            </div>

         </div>

         <div class="col-md-3">
            <div class="overview-card-color">
               <h3 class="card-h3">₹ 300</h3>
               <h5 class="r-rate" title="The average amount spent by customers after they redeem a loyalty reward.">
                  <u>Avg. Revenue / Redemption</u>
               </h5>
            </div>
         </div>
      </div>
   </div>

   <div class="perfHead">
      <div class="perfHead-content">
         <h3 class="sb-typography sb-typography--display-lg sb-typography--semibold">Your business at glance</h3>
      </div>
   </div>

   <div class="row mt-3">
      <div class="col-md-6">
         <div class="redeeming-customer">
            <div class="row">
               <div class="col-md-8">
                  <h3 class="r-rate"
                     title="The customers with the highest Loyalty Rewards redemptions are listed here.">
                     <u>Top Redeeming Customers</u>
                  </h3>

                  <h6>121233 - Test</h6> <br>

                  <h6>121233 - Test</h6> <br>

                  <h6>121233 - Test</h6>

               </div>
               <div class="col-md-4">
                  <u class="d-more">Discover More</u>
                  <div class="customer">
                     <div class="redeemed">⚡ Redeemed <b>2 times</b></div>
                  </div>
                  <div class="customer">
                     <div class="redeemed">⚡ Redeemed <b>2 times</b></div>
                  </div>
                  <div class="customer">
                     <div class="redeemed">⚡ Redeemed <b>2 times</b></div>
                  </div>
               </div>
            </div>
         </div>

      </div>

      <div class="col-md-6">
         <div class="redeeming-customer">
            <div class="row">
               <div class="col-md-8">

                  <h3 class="r-rate" title="The total cashback issued to your customers.">
                     <u>Cashback Redemption Slabs</u>
                  </h3>

                  <h6>Below ₹ 100 </h6> <br>

                  <h6>₹100- ₹250</h6> <br>

                  <h6>₹251- ₹500</h6> <br>

                  <h6>Above ₹500 </h6>
               </div>
               <div class="col-md-4">
                  <!-- <input type="range" class="form-range range-mt-0" id="Range"> <br>
                  <input type="range" class="form-range range-mt-0" id="Range"> <br>
                  <input type="range" class="form-range range-mt-0" id="Range"> <br>
                  <input type="range" class="form-range range-mt-0" id="Range"> <br> -->
               </div>
            </div>
         </div>
      </div>
   </div>


   <div class="row mt-3">
      <div class="col-md-6">
         <h3>Customer Frequency</h3>
         <div class="RR-Time">
            <div class="row">

               <div class="col-md-1">
                  <img src="/assets/img/clock-emoji.svg" class="clock-img" alt="Image" width="100%" height="100%">
               </div>
               <div class="col-md-11">
                  <h4>Best time of your reward redemption is <span>Thursday Night, Leading</span> with <span>2
                        redemptions.</span> </h4>
               </div>
            </div>
         </div>
      </div>

      <div class="col-md-6">
         <h3>Top rewards redeemed </h3>
         <div class="RR-Time-afternoon">
            <div class="row">
               <div class="col-md-1">
                  <img src="/assets/img/clock-emoji.svg" class="clock-img" alt="Image" width="100%" height="100%">
               </div>
               <div class="col-md-11">
                  <h4>Unpopular time of your reward redemption is <span>Wednesday Afternoon,</span> Only <span>1
                        redemptions.</span> </h4>
               </div>
            </div>
         </div>
      </div>
   </div>


   <div class="row mt-3">
      <div class="col-md-6">
         <div class="redeeming-customer">
            <div class="row">
               <div class="col-md-8">
                  <h3 class="r-rate"
                     title="The customers with the highest Loyalty Rewards redemptions are listed here.">
                     <u>Loyalty</u>
                  </h3>
                  <h6>121233 - Test</h6> <br>
                  <h6>121233 - Test</h6> <br>
                  <h6>121233 - Test</h6>

               </div>
               <div class="col-md-4">
                  <u class="d-more">Discover More</u>
                  <div class="customer">
                     <div class="redeemed">⚡ Redeemed <b>2 times</b></div>
                  </div>
                  <div class="customer">
                     <div class="redeemed">⚡ Redeemed <b>2 times</b></div>
                  </div>
                  <div class="customer">
                     <div class="redeemed">⚡ Redeemed <b>2 times</b></div>
                  </div>
               </div>
            </div>
         </div>

      </div>

      <div class="col-md-6">
         <div class="redeeming-customer">
            <div class="row">
               <div class="col-md-8">
                  <h3 class="r-rate" title="The total cashback issued to your customers.">
                     <u>Campaign</u>
                  </h3>
                  <h6>Below ₹ 100 </h6> <br>

                  <h6>₹100- ₹250</h6> <br>

                  <h6>₹251- ₹500</h6> <br>

                  <h6>Above ₹500 </h6>

               </div>
               <div class="col-md-4">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="modal fade P-card-set" id="welcomeLoyalty" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true" data-bs-backdrop="static">
   <div class="modal-dialog modal-xl">
      <div class="modal-content">
         <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Welcome to Loyalty Dashboard</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-md-7">
                  <!-- <img src="/assets/img/punjabiSardar-removebg-preview-removebg-preview.png" alt="HelloPicture"
                     width="7%"> -->
                  <h3 class="f-hello">Hello {{FullName}}! Happy to see you here.</h3>
                  <label>Get ready to embark on a journey towards success with our seamless setup process!</label>
                  <img src="/assets/img/successvectordrawingcolor.jpg" alt="HelloPicture" width="50%">

                  <!-- <h5 class="mt-3"
                     title="By integrating a Point of Sale (POS) system, you can effortlessly capture and connect with each and every customer.">
                 
                  <u class="pop-card-set">POS Integrate</u>
                  </h5>

                  <h5 title="See how customers redeem points">
                     <u class="pop-card-set">Create Loyalty Program</u>
                  </h5>

                  <h5 
                     title="Launching a campaign enables you to effortlessly connect with your target customers and expand your reach.">
                     <u class="pop-card-set">Set Campaign</u>
                  </h5> -->

               </div>


               <div class="col-md-5">
                  <div class="row">
                     <div class="cardex">
                        <div class="col-md-12">
                           <h3 class="heading-cardex">POS Integrate</h3>
                           <p class="small">By integrating a Point of Sale (POS) system, you can effortlessly capture
                              and
                              connect with each and every customer.</p>
                           <div class="go-corner" href="#">
                              <div class="go-arrow">
                                 →
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="cardex mt-3">
                        <div class="col-md-12">
                           <h3 class="heading-cardex">Create Loyalty Program</h3>
                           <p class="small">See how customers redeem points</p>
                           <div class="go-corner" href="#">
                              <div class="go-arrow">
                                 →
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="cardex mt-3">
                        <div class="col-md-12">
                           <h3 class="heading-cardex">Set Campaign</h3>
                           <p class="small">Launching a campaign enables you to effortlessly connect with your target
                              customers and expand your reach.</p>
                           <div class="go-corner" href="#">
                              <div class="go-arrow">
                                 →
                              </div>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>


               <!-- <div class="col-md-3">
                  <div class="P-card-set">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="card-data">
                              <h5
                                 title="By integrating a Point of Sale (POS) system, you can effortlessly capture and connect with each and every customer.">
                                 <u>POS Integrate</u>
                              </h5>
                           </div>
                        </div>
      
                        <div class="col-md-12">
                           <div class="card-data">
                              <h5 title="See how customers redeem points">
                                 <u>Create Loyalty Program</u>
                              </h5>
                           </div>
                        </div>
      
                        <div class="col-md-12">
                           <div class="card-data">
                              <h5
                                 title="Launching a campaign enables you to effortlessly connect with your target customers and expand your reach.">
                                 <u>Set Campaign</u>
                              </h5>
                           </div>
      
                        </div>
      
      
                     </div>
                  </div>
                 

               </div> -->
            </div>

            <!-- <div class="P-card-set">
                     <div class="row">
                        <div class="col-md-4">
                           <div class="card-data">
                              <h5
                                 title="By integrating a Point of Sale (POS) system, you can effortlessly capture and connect with each and every customer.">
                                 <u>POS Integrate</u>
                              </h5>
                           </div>
                        </div>
      
                        <div class="col-md-4">
                           <div class="card-data">
                              <h5 title="See how customers redeem points">
                                 <u>Create Loyalty Program</u>
                              </h5>
                           </div>
                        </div>
      
                        <div class="col-md-4">
                           <div class="card-data">
                              <h5
                                 title="Launching a campaign enables you to effortlessly connect with your target customers and expand your reach.">
                                 <u>Set Campaign</u>
                              </h5>
                           </div>
      
                        </div>
      
      
                     </div>
                  </div>  -->
            <!-- <img src="/assets/img/punjabiSardar-removebg-preview-removebg-preview.png" alt="HelloPicture" width="7%">
            <h3 class="f-hello">Hello Navjot! Happy to see you here</h3>

            <label>Get ready to embark on a journey towards success with our seamless setup process!</label>


            <div class="P-card-set">
               <div class="row">
                  <div class="col-md-4">
                     <div class="card-data">
                        <h5
                           title="By integrating a Point of Sale (POS) system, you can effortlessly capture and connect with each and every customer.">
                           <u>POS Integrate</u>
                        </h5>
                     </div>
                  </div>

                  <div class="col-md-4">
                     <div class="card-data">
                        <h5 title="See how customers redeem points">
                           <u>Create Loyalty Program</u>
                        </h5>
                     </div>
                  </div>

                  <div class="col-md-4">
                     <div class="card-data">
                        <h5
                           title="Launching a campaign enables you to effortlessly connect with your target customers and expand your reach.">
                           <u>Set Campaign</u>
                        </h5>
                     </div>

                  </div>


               </div>
            </div> -->
            <!-- Customers will not lose their previously earned points. They will start earning points as per the updates you make. <br> <br>
         If you’re changing the rewards stucture, we recommend you to inform your customers to come & redeem before updating. -->
         </div>
         <!-- <div class="modal-footer">
         <button type="button" class="btn btn-light b-btn" data-bs-dismiss="modal">Cancel</button>
         <button type="button" class="btn btn-primary btn-submit m-btn-0">Edit Loyalty</button>
       </div> -->
      </div>
   </div>
</div>