<div class="container ps-0">
   <div class="row">
      <div class="col-md-12">
         <div class="loyalty-add-create">
            <div class="row">
               <div class="col-md-6 a-loyalty">
                  <div class="create-loyalty">
                     <div class="row">
                        <div class="col-md-7">
                           <h3>• Create a new Loyalty, for your loyal and regular customers !!</h3>
                        </div>
                        <div class="col-md-5">
                           <img src="/assets/img/rabbit.gif" width="80"> Add Loyalty
                        </div>
                     </div>

                     <!-- <h3>Join our loyalty program and enjoy exclusive benefits!</h3> -->
                  </div>

                  <div class="create-loyalty">
                     <div class="row">
                        <div class="col-md-7">
                           <h3>• Start building your loyalty with us and unlock a host of
                              exclusive perks.
                           </h3>
                        </div>
                        <div class="col-md-5">
                           <img src="/assets/img/addLoyalty.png" width="80">
                           <button type="button" class="btn btn-primary btn-submit"
                              routerLink="/loyaltyPerformance/Edit-loyalty">Create loyalty</button>
                        </div>
                     </div>
                  </div>

               </div>
               <div class="col-md-6">
                  <h1 class="no-loyalty">No <br>
                     Loyalty <br>
                     Program!</h1>
               </div>

            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-6">
            <div class="welcome-card">
               <div class="row">
                  <div class="col-md-3">
                     <img alt="punjabiBoy" src="/assets/img/CustomerThumb-removebg-preview.png" width="48%">
                  </div>
                  <div class="col-md-9">
                     <h4> In <span>May, </span>you successfully enrolled a total of <span>4 customers</span> into your
                        program.</h4>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-md-6">
            <div class="welcome-card">
               <div class="row">
                  <div class="col-md-3">
                     <img alt="punjabiBoy" src="/assets/img/CustomerThumb-removebg-preview.png" width="48%">
                  </div>
                  <div class="col-md-9">
                     <h4> {{FullName}}! is a power customer, having made <span>2 redemptions</span> and spent
                        <span>₹350</span> in the last <span> 15 days.</span>
                     </h4>
                  </div>
               </div>
            </div>
         </div>

      </div>

      <div class="row">
         <div class="col-md-12">
            <div class="tea-verse-action-card">
               <div class="row">
                  <div class="col-md-8">
                     <div>
                        <div class="form-check form-switch">
                           <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                              checked>
                           <label>Active</label>
                        </div>

                        <h3>Tea Verse Rewards</h3>
                        <h5>Get rewarded with 1 point for every <span>₹500</span> spent. <br>
                           It's our way of saying thank you for choosing us and being a valued customer.</h5>
                        <div class="channels-row">
                           <div>Whatsapp</div>
                        </div>

                        <div class="m-t-0">
                           <button type="button" class="btn btn-primary btn-submit me-2">Creative Download</button>
                           <button type="button" class="btn btn-primary btn-submit" data-bs-toggle="modal"
                              data-bs-target="#EditLoyalty">Edit Loyalty</button>
                        </div>

                     </div>

                  </div>
                  <div class="col-md-4">
                     <img src="/assets/img/cash-bunny-1.gif" alt="Image" width="100%" height="100%">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div class="overview-text">
               <h3>Overview</h3>
               <h5>Discover the latest updates in your rewards program up until today.</h5>
            </div>

         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <div class="overview-card-color">
               <div class="row">
                  <div class="col-md-9">
                     <h5 class="r-rate"
                        title="The Loyalty Points Conversion Rate is calculated by dividing the total points redeemed by customers by the total points issued to customers and then multiplying it by 100 to express it as a percentage.">
                        <u>Redemption Percentage</u>
                     </h5>
                  </div>
                  <div class="col-md-3">
                     <h3 class="percentage">76.44%</h3>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="overview-card-color">
               <div class="row">
                  <div class="col-md-9">
                     <h5 class="r-rate" title="Points utilized by your customers in total.">
                        <u>Redeemed Cashback Amount</u>
                     </h5>
                  </div>
                  <div class="col-md-3">
                     <h3 class="percentage">66.4%</h3>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="overview-card-color">
               <div class="row">
                  <div class="col-md-9">
                     <h5 class="r-rate" title="Average amount spent by customers after redeeming a loyalty reward.">
                        <u>Average Revenue per Redemption</u>
                     </h5>
                  </div>
                  <div class="col-md-3">
                     <h3 class="percentage">₹ 300</h3>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="row mt-3">
         <div class="col-md-6">
            <div class="redeeming-customer">
               <div class="row">
                  <div class="col-md-8">
                     <h3 class="r-rate"
                        title="The customers with the highest Loyalty Rewards redemptions are listed here.">
                        <u>Highly Active Redemption Customers</u>
                     </h3>

                     <h6>121233 - Test</h6> <br>

                     <h6>121233 - Test</h6> <br>

                     <h6>121233 - Test</h6>

                  </div>
                  <div class="col-md-4">
                     <u class="d-more" routerLink="/loyaltyPerformance/discoverMore">Discover More</u>
                     <div class="customer">
                        <div class="redeemed">⚡ Redeemed <b>2 times</b></div>
                     </div>
                     <div class="customer">
                        <div class="redeemed">⚡ Redeemed <b>2 times</b></div>
                     </div>
                     <div class="customer">
                        <div class="redeemed">⚡ Redeemed <b>2 times</b></div>
                     </div>
                  </div>
               </div>
            </div>

         </div>

         <div class="col-md-6">
            <div class="redeeming-customer">
               <div class="row">
                  <div class="col-md-8">

                     <h3 class="r-rate" title="The total cashback issued to your customers.">
                        <u>Cashback Redemption Slabs</u>
                     </h3>

                     <h6>Below ₹ 100 </h6> <br>

                     <h6>₹100- ₹250</h6> <br>

                     <h6>₹251- ₹500</h6> <br>

                     <h6>Above ₹500 </h6>



                  </div>

               </div>
            </div>

         </div>
      </div>













   </div>


 
<div class="modal fade" id="EditLoyalty" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-bs-backdrop="static" >
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h1 class="modal-title fs-5" id="exampleModalLabel">Review this before you edit your existing loyalty program</h1>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         Customers will not lose their previously earned points. They will start earning points as per the updates you make. <br> <br>
         If you’re changing the rewards stucture, we recommend you to inform your customers to come & redeem before updating.
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-light b-btn" data-bs-dismiss="modal">Cancel</button>
         <button type="button" class="btn btn-primary btn-submit m-btn-0"
         routerLink="/loyaltyPerformance/Edit-loyalty" 
         data-bs-dismiss="modal">Edit Loyalty</button>
       </div>
     </div>
   </div>
 </div>


 <div class="container">
   <div class="row">
     <div class="col-md-2">
       <div class="card">
         <div class="card-body">
           <div class="box">
            <h5>₹20</h5>  
           </div>
           
           <div class="card-content">
             <span class="title">Total Revenue Generated</span>
             <button type="button" class="btn btn-link" data-toggle="tooltip" data-bs-placement="bottom" title="The entire amount of the bill that can be redeemed with loyalty points.">
               <i class="bi bi-info-circle"></i>
             </button>
           </div>
         </div>
         <!-- <hr> -->
         <!-- <div class="card-footer">
               <p><span class="percentage">+55%</span> than last week</p>
            </div> -->
       </div>
     </div>
     <div class="col-md-2">
       <div class="card">
         <div class="card-body">
           <div class="box">
             <h5>2</h5>
           </div>
           <div class="card-content">
             <span class="title">Times Rewards Redeemed</span>
             <button type="button" class="btn btn-link" data-toggle="tooltip"  data-bs-placement="bottom" title="How many times rewards have been redeemed overall during the given time period.">
               <i class="bi bi-info-circle"></i>
             </button>
           </div>
         </div>
       </div>
     </div>
     <div class="row1">
       <div class="col">
         <div class="input-group mb-3">
           <select class="form-select" [(ngModel)]="selectedRange" (change)="updateDateRange()">
             <option value="today">Today</option>
             <option value="last7days">Last 7 Days</option>
             <option value="thisMonth">This Month</option>
             <option value="lastMonth">Last Month</option>
             <option value="last6Months">Last 6 Months</option>
             <option value="last12Months">Last 12 Months</option>
           </select>
           <button class="btn btn-outline-secondary" type="button" id="datepickerButton">
             <i class="bi bi-calendar"></i>
           </button>
         </div>
       </div>
       <div class="col">
         <p>Date Range: {{ dateRange }}</p>
       </div>
     </div>
 
     <highcharts-chart [Highcharts]="Highcharts" [options]="linechart" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
 
   <div class="row">
     <div class="col">
       <div class="card">
         <div class="card-body">
           <div class="box">
            <h5>83.33%</h5>
           </div>
           <div class="card-content">
             <span class="title">Redemption Rate</span>
             <button type="button" class="btn btn-link" data-toggle="tooltip"  data-bs-placement="bottom" title="The overall proportion of loyalty points that were turned into sales. (Total points redeemed by customers/ total points issued to customers )*100">
               <i class="bi bi-info-circle"></i>
             </button>
           </div>
         </div>
         <!-- <hr> -->
         <!-- <div class="card-footer">
               <p><span class="percentage">+55%</span> than last week</p>
            </div> -->
       </div>
     </div>
     <div class="col">
       <div class="card">
         <div class="card-body">
           <div class="box">
             <h5>20</h5>
           </div>
           <div class="card-content">
             <span class="title">Cashback reward</span>
             <button type="button" class="btn btn-link" data-toggle="tooltip" data-bs-placement="bottom" title="The total number of points your clients have redeemed.">
               <i class="bi bi-info-circle"></i>
             </button>
           </div>
         </div>
         <!-- <hr>
            <div class="card-footer">
               <p><span class="percentage">+3%</span> than last month</p>
            </div> -->
       </div>
     </div>
     <div class="col">
       <div class="card">
         <div class="card-body">
           <div class="box">
             <h5>24</h5>
           </div>
           <div class="card-content">
             <span class="title">Cashback issued</span>
             <button type="button" class="btn btn-link" data-toggle="tooltip" data-bs-placement="bottom" data-html="true" title="The total cashback you've given your clients.">
               <i class="bi bi-info-circle"></i>
             </button>
           </div>
         </div>
       </div>
     </div>
     
     
     
     <div class="col">
       <div class="card">
         <div class="card-body">
           <div class="box">
             <h5>2</h5>
           </div>
           <div class="card-content">
             <span class="title">Times Rewards Redeemed</span>
             <button type="button" class="btn btn-link" data-toggle="tooltip" data-bs-placement="bottom" title="How many times rewards have been redeemed overall during the given time period.">
               <i class="bi bi-info-circle"></i>
             </button>
           </div>
         </div>
       </div>
     </div>
     
 
   </div>
 </div>
 