.welcome-card {
    align-items: center;
    background: #fff;
    border-radius: 8px;
    margin: 0 0 0 1.2rem;
    padding: 20px;
    min-height: 45px;
    height: 100px;
    box-shadow: 3px 3px 3px 3px #ededed;
}

.a-loyalty{
    font-size: 16px;
    font-weight: 600;
}

.create-loyalty{
    align-items: center;
    margin-bottom: 0.8rem;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    min-height: 20px;
    height: 140px;
    box-shadow: 3px 3px 3px 3px #ededed;
    /* width: 74%; */
}

.n-loyalty-p{
    align-items: center;
    background: #fff;
    border-radius: 8px;
    margin: 0 0 0 1.2rem;
    padding: 20px;
    min-height: 200px;
    height: 100px;
    box-shadow: 3px 3px 3px 3px #ededed;
}

.no-loyalty{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    /* padding: 1rem; */
    margin: 2rem;
    padding: 2rem;
}

.no-loyalty{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
}

.add-loyal{
    margin-left: 3rem;
}
/* .content-set{
    margin-top: 1rem;
    justify-content: right;
} */

.no-loyalty{
    font-size: 3rem;
    font-weight: 1000;
    color: var(--theme-color);
}

.text-align{
    text-align: right;
}

.loyalty-add-create{
    border-radius: 10px;
    padding: 1.5rem;
    margin: 0.5rem 1.5rem 1rem 1.3rem;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    /* min-height: 45px;
    height: 100px; */
    box-shadow: 3px 3px 3px 3px #ededed;
}

.m-l-0{
    margin-left: 1rem;
}

span {
    color: var(--theme-color);
}

h3{
    font-size: 20px;
    font-weight: 600;
}

.overview-text{
    margin-left: 1rem;
}
.insight-action-card h4 span {
    color: var(--theme-color);
    font-family: "Nunito", sans-serif;
}

.insight-action-card {
    margin: 0.3rem;
    align-items: flex-start;
    /* background: #fff; */
    background-color: #f1f4fb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    justify-content: space-between;
    min-height: 400px;
    padding: 16px;
}

.tea-verse-action-card {
    margin: 0.8rem 0.2rem 1rem 1rem;
    align-items: flex-start;
    background: #fff;
    border-radius: 10px;
    justify-content: space-between;
    /* min-height: 400px; */
    padding: 20px;
    box-shadow: 3px 3px 3px 3px #ededed;
}

.tea-verse-action-card .channels-row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-start;
    margin: 12px 0;
}

.tea-verse-action-card .channels-row div {
    background: #fff;
    border-radius: 48px;
    color: #0e1b1b;
    font-family: "Nunito", sans-serif;
    padding: 6px 8px;
}

.form-check-input {
    cursor: pointer;
}

.m-btn-0 {
    margin-left: 0.5rem;
    border: 1px solid #bdc9c9;
    border-radius: 6px;

}

.b-btn {
    border: 1px solid #bdc9c9;
    border-radius: 6px;
    background: #fff;
    height: 2.7rem;
}

.m-t-0 {
    margin-top: 5rem;
}

.perfHead {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.sb-typography--display-lg {
    font-size: 24px;
    line-height: 30px;
}

.sb-typography {
    color: #0e1b1b;
    font-family: "Nunito", sans-serif;
    margin: 0;
}

.perfHead h5 {
    color: #313a3a;
    padding: 8px 0 24px;
}

.sb-typography--heading-lg {
    /* font-size: 18px; */
    line-height: 24px;
}

.sb-typography {
    color: #0e1b1b;
    font-family: "Nunito", sans-serif;
    margin: 0;
}

.overview-card-color {
    margin: 0 0 0 1rem;
    align-items: flex-start;
    border-radius: 10px;
    /* min-height: 200px; */
    height: 100px;
    padding: 20px;
    background-color: var(--theme-color-blue);
    border: 1px solid var(--theme-color-blue);
    border-radius: 8px;
}

.r-rate {
    cursor: pointer;
    color: var(--theme-color);
}

.percentage {
    color: #fff;
}

.btn-color {
    background-color: var(--theme-color);
    border: 1px solid var(--theme-color);
    border-radius: 5px;
    padding: 4px;
    color: #fff;
}

.redeeming-customer {
    margin: 0 0 0 1rem;
    align-items: flex-start;
    border-radius: 10px;
    /* min-height: 200px; */
    height: 250px;
    padding: 20px;
    /* background-color: #f3f5f5; */
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #ededed;
}

.RR-Time {
    margin: 0.3rem;
    align-items: flex-start;
    border-radius: 10px;
    /* min-height: 200px; */
    height: 100px;
    padding: 20px;
    /* background-color: #f3f5f5; */
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
}

.RR-Time-afternoon {
    margin: 0.3rem;
    align-items: flex-start;
    border-radius: 10px;
    /* min-height: 200px; */
    height: 100px;
    padding: 20px;
    /* background-color: #f3f5f5; */
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
}

.RR-Time-afternoon h4 span {
    color: var(--theme-color);
    font-family: "Nunito", sans-serif;
}

.RR-Time h4 span {
    color: var(--theme-color);
    font-family: "Nunito", sans-serif;
}

.Recent-loyalty-activity {
    margin: 0.3rem;
    align-items: flex-start;
    border-radius: 10px;
    /* min-height: 200px; */
    height: 320px;
    padding: 20px;
    /* background-color: #f3f5f5; */
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
}

.clock-img {
    text-align: center;
    margin-bottom: 0rem;
}

.RR-Time-afternoon h4 span {
    color: #dd990a;
    font-family: "Nunito", sans-serif;
}

.d-more {
    color: var(--theme-color);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 1rem;
}


.customer {
    align-items: center;
    /* border-bottom: 0.5px solid #e9eded; */
    display: flex;
    gap: 15px;
    justify-content: space-between;
    padding: 8px 2px;
    width: 100%;
}

.loyalty-overview-page .loyalty-performance .leaderboard-row .leaderboardCard .customer h5 {
    margin: 0;
}

.sb-typography--medium {
    font-family: "Nunito", sans-serif;
}

.sb-typography--text-sm {
    font-size: 14px;
    line-height: 20px;
}

.sb-typography {
    color: #0e1b1b;
    font-family: "Nunito", sans-serif;
    margin: 0;
}

.customer .redeemed {
    background: var(--theme-color-blue);
    color: #fff;
    border-radius: 25px;
    font-size: 14px;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    padding: 7px 12px;
}

.range-mt-0 {
    margin-top: 1.7rem;
}

.modal-header {
    align-items: baseline !important;
    /* width: 1.5rem; */
}

.btn-close {
    width: 1.5rem !important;
    background-color: #dce5e5;
    border-radius: 50px;
    padding: 4px;
    vertical-align: top;
}

.fs-5 {
    font-weight: 700 !important;
}

.form-check-input:checked {
    border-color: var(--theme-color) ;
    background-color: var(--theme-color) ;
}

.form-check-input:focus {
    border-color: var(--theme-color);
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--theme-color);
}

/* .form-check-input:checked {
    background-color: var(--theme-color);
    border-color: var(--theme-color)
} */

.card-header {
    background-color: #f8f9fa;
   border-radius:10px;
  }
  
  .card-title {
    margin: 0;
    font-size: 26px;
   
    color: black;
  }
  .title {
     font-size: 20px;
    
  }
  .col-md-2{
   margin-top: 64px;
  }
  
  .percentage {
     color: green;
  }
  
  .card {
     margin-bottom: 20px;
     border-radius: 20px;
     box-shadow: 3px 3px 3px 3px #ededed;
     background-color: ivory;
  }
  .box {
    position: relative;
    top: -35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    background-color: var(--theme-color);
    border-radius: 16%;
 }
 .bi{
   color: black;
 }
.col{
 margin-top: 35px;}
 .container{
   background-color: #f3f5f5
 }
 .row1 {

      margin-left: 200px;
      margin-top: 46px;
      width:53%;
    
 }


