<div class="main-div">
    <div class="row button-container col-md-12">
        <div class="col-md-12 d-flex flex-column">
            <div class="header-cashback">
                <div class="row">
                    <div class="col-md-2">
                        <button class="back-io-button" routerLink="/campaign/review">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path fill="currentColor"
                                        d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                                    </path>
                                </svg>
                            </div>
                            Back
                        </button>
                    </div>
                    <div class="col-md-7">
                        <h5 class="edit-loyalty-text">SMS Review</h5>
                    </div>
                    <div class="col-md-3 text-end">
                        <button class="cssbuttons-io-button" > Save
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path fill="currentColor"
                                        d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                                    </path>
                                </svg>
                            </div>
                        </button>
                    </div>
                </div>
            </div>

            <div class="progress">
                <div class="progress-bar" style="width:0%" id="progressBar" #progressBar>{{percent}}%</div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="inner-box ">
                            <div class="inner-box">

                                <div class="col-md-12 mt-3">
                                    <h5 class="com-text">Edit SMS</h5>
                                    <p>Character length: 64 / 1 credit</p>
                                    <textarea class="form-control" [(ngModel)]="customMessage"
                                        id="campaignDescription">Enter your Custom Message l.loyalty.io/_euRZ</textarea>

                                    <div class="mt-3">
                                        <h5 class="com-text">Campaign Link</h5>
                                        <button class="btn btn-primary" (click)="showCustomMessage()">Loyalty
                                            Link</button>
                                        <button class="btn btn-primary" (click)="showCustomLink()">Custom Link</button>
                                    </div>

                                    <div *ngIf="displayCustomMessage" class="mt-3">
                                        <p id="copyText">{{ customMessage }}</p>
                                        <p>This link will take your customer to the campaign page.</p>
                                        <div>
                                            <button class="btn btn-primary" (click)="copyText()">Copy</button>
                                        </div>
                                    </div>
                                    <div *ngIf="showCustomLinkOption" class="mt-3">
                                        <p>Enter your custom link that you want to include instead of the Loyalty campaign
                                            link.</p>
                                        <div class="checkbox-wrapper-33 main-box">
                                            <label class="checkbox">
                                                <input type="checkbox" class="checkbox__trigger visuallyhidden"
                                                    id="smsCheckbox" name="communicationMethod"
                                                    [(ngModel)]="uploadProfile"> <span class="checkbox__symbol">
                                                    <svg xmlns="http://www.w3.org/2000/svg" version="1"
                                                        viewBox="0 0 28 28" height="28px" width="28px"
                                                        class="icon-checkbox" aria-hidden="true">
                                                        <path d="M4 14l8 7L24 7"></path>

                                                    </svg>
                                                </span>Convert a file into link
                                            </label>
                                        </div>
                                        <div *ngIf="uploadProfile" class="mt-3">
                                            <label for="logoUpload" class="btn btn-primary">
                                                <i class="bi bi-upload"></i> Upload Your Profile
                                                <input type="file" id="logoUpload" name="logoUpload"
                                                    style="display: none;">
                                            </label>

                                        </div>
                                        <input type="text" class="form-control" [(ngModel)]="customLink"
                                            value="https://example.com">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 inner-box d-flex justify-content-center align-items-center" id="InnerHtml">
                        <img src="assets/img/review-sms-mobile-removebg-preview.png" alt="mobileImage" width="55%">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- <div class="main-div">
    <div class="row button-container col-md-12">
        <div class="col-md-12 d-flex flex-column">
            <div class="header-cashback">
                <div class="row">
                    <div class="col-md-2">
                        <button class="back-io-button" routerLink="/campaign/review">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path fill="currentColor"
                                        d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                                    </path>
                                </svg>
                            </div>
                            Back
                        </button>
                    </div>
                    <div class="col-md-7">
                        <h5 class="edit-loyalty-text">SMS Review</h5>
                    </div>
                    <div class="col-md-3 text-end">
                        <button class="cssbuttons-io-button" routerLink="/campaign/sms"> Submit
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path fill="currentColor"
                                        d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z">
                                    </path>
                                </svg>
                            </div>
                        </button>a
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="progress">
    <div class="progress-bar" style="width:0%" id="progressBar" #progressBar>{{percent}}%</div>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-8">
            <div class="inner-box">
              
                <div class="col-md-12 mt-3">
                    <h5 class="com-text">Edit SMS</h5>
                    <p>Character length: 64 / 1 credit</p>
                    <textarea class="form-control" [(ngModel)]="customMessage"
                        id="campaignDescription">Enter your Custom Message l.loyalty.io/_euRZ</textarea>

                    <div class="mt-3">
                        <h5 class="com-text">Campaign Link</h5>
                        <button class="btn btn-primary" (click)="showCustomMessage()">Reelo Link</button>
                        <button class="btn btn-primary" (click)="showCustomLink()">Custom Link</button>
                    </div>

                    <div *ngIf="displayCustomMessage" class="mt-3">
                        <p id="copyText">{{ customMessage }}</p>
                        <p>This link will take your customer to the campaign page.</p>
                        <div>
                            <button class="btn btn-primary" (click)="copyText()">Copy</button>
                        </div>
                    </div>
                    <div *ngIf="showCustomLinkOption" class="mt-3">
                        <p>Enter your custom link that you want to include instead of the Reelo campaign link.</p>
                        <div class="checkbox-wrapper-33 main-box">
                            <label class="checkbox">
                                <input type="checkbox" class="checkbox__trigger visuallyhidden" id="smsCheckbox"
                                    name="communicationMethod" [(ngModel)]="uploadProfile"> <span
                                    class="checkbox__symbol">
                                    <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 28 28"
                                        height="28px" width="28px" class="icon-checkbox" aria-hidden="true">
                                        <path d="M4 14l8 7L24 7"></path>

                                    </svg>
                                </span>Convert a file into link
                            </label>
                        </div>
                        <div *ngIf="uploadProfile" class="mt-3">
                            <label for="logoUpload" class="btn btn-primary">
                                <i class="bi bi-upload"></i> Upload Your Profile
                                <input type="file" id="logoUpload" name="logoUpload" style="display: none;">
                            </label>

                        </div>
                        <input type="text" class="form-control" [(ngModel)]="customLink" value="https://example.com">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="assets/img/review-sms-mobile-removebg-preview.png" alt="mobileImage" width="55%">
        </div>
    </div>
</div> -->