<!-- <div class="container-fluid">
  <h1>Carousel</h1>

  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>First Slide</h3>
        <p>Angular 10 Carousel Example</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Second Slide</h3>
        <p>Check out Techiediaries</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img [src]="images[2]" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Third Slide</h3>
        <p>For full tutorial...</p>
      </div>
    </ng-template>
  </ngb-carousel>
</div> -->

<div class="carousel">
  <div class="carousel-inner">
    <ng-container *ngFor="let image of images; let i = index">
      <div class="carousel-item" [class.active]="i === currentIndex">
        <img [src]="image" alt="Image {{i+1}}">
      </div>
    </ng-container>
  </div>
  <a class="carousel-control-prev" (click)="prevImage()">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" (click)="nextImage()">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>




<div class="container">
  <div class="card1">
    <div class="card-header">
      <h6 class="card-title">Customers Table</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Phone No.</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="
                let customer of customers | paginate: {
                  itemsPerPage: itemsPerPage,
                  currentPage: currentPage
                }
              ">
              <td>
                <div class="d-flex align-items-center">
                  <div class="ml-2">
                    <span class="name">{{ customer.name }}</span>
                  </div>
                </div>
              </td>
              <td>
                <div>
                  <span class="PhoneNo">{{ customer.PhoneNo }}</span>
                </div>
              </td>
              <td>
                <div class="Points">{{ customer.Points }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <pagination-controls (pageChange)="goToPage($event)" previousLabel="Previous" nextLabel="Next"
      [directionLinks]="true" [autoHide]="false"></pagination-controls>
  </div>
</div>